@import "../../../Styles/_settings.scss";

.active > .sideMenuTitleDiv {
  background-color: #428bca;
}

.navLink {
  color: #2e95ec;
}

.sideMenuAndPageContentFlex {
  display: flex;
  flex-direction: row;
}
.sideMenuDiv {
  padding: 0 15px;
}

.sideMenuTitleDiv {
  height: 40px;
  background-color: transparent;
  border-radius: 4px;
  margin-top: 4px;
}

.sideMenuTitle {
  position: relative;
  display: block;
  padding: 10px 15px;
  margin: 0 0 10px;
  color: #2e95ec;
}

.active > .sideMenuTitleDiv > .sideMenuTitle {
  color: #fff;
}

.sideMenuItemsList {
  list-style-type: circle;
}
.sideMenuItem {
  color: #2e95ec;
  text-decoration: none !important;
}
