@import "../../Styles/_settings.scss";

.wrapper {
  max-width: $website-width;
  width: 90%;
  margin: 0 auto;
}

.publishAdTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 30px;
}
.publishAdText {
  font-size: 14px;
}
