@import "../Styles/_settings.scss";

.faqSectionThemeDiv {
  display: flex;
  flex-direction: column;
  width: 75%;
  padding-right: 19px;
 /*  :first-child{
    margin-bottom: 30px;
  } */
}


@media only screen and (max-width: $website-SM-width) {
  .faqSectionThemeDiv {
    width: 100%;
  }
}
