@import "../../Styles/_settings.scss";

body {
  background-color: #f9f9f9;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

#root {
  background-color: #f9f9f9;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

//tablet
@media only screen and (max-width: $website-SM-width) {
}

//mobile
@media only screen and (max-width: 760px) {
  .suggestedThemesDiv {
    width: 345px;    
  }
  .boxes {
    margin: 15px;
  }

  .box {   
    height: 106px;
  }

  .faqSectionThemeDiv {   
    width: auto;    
    grid-template-columns: 345px;
    justify-content: center;
  }

  .titleTextContent {
    font-size: 15px;
  }
}
