@import "../../Styles/_settings.scss";

body {
  background-color: #f9f9f9;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.howToUseTitleDiv {
  width: 1040px;
  margin: auto;
  margin-top: 30px;
}

.howToUseTitle {
  font-family: Arial;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  color: #616872;
}

.howToUseDescriptionDiv {
  width: 1040px;
  margin: auto;
  margin-top: 10px;
}

.howToUseDescription {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.42857;
  text-align: left;
  color: #616872;
}

.publishAdDiv {
  width: 1040px;
  margin: auto;
}

.publishAdTitle {
  font-family: Arial;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
  color: #616872;
}

.publishAdTitleDiv {
  margin-top: 30px;
}

.publishAdDescriptionDiv {
  margin-top: 10px;
}
.publishAdDescription {
  font-family: Arial;
  font-size: 14px;
  line-height: 1.42857;
  text-align: left;
  color: #616872;
}
