@import "../../Styles/_settings.scss";

body {
  background-color: #f9f9f9;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}

.wrapper {
  max-width: $website-width;
  width: 90%;
  margin: 0 auto;
}

.howToUseTitleDiv {
  margin: auto;
  margin-top: 30px;
}

.howToUseTitle {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
}

.howToUseDescriptionDiv {
  margin: auto;
  margin-top: 10px;
}

.howToUseDescription {
  font-size: 14px;
  line-height: 1.42857;
  text-align: left;
}

.publishAdDiv {
  margin: auto;
}

.publishAdTitle {
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  text-align: left;
}

.publishAdTitleDiv {
  margin-top: 30px;
}

.publishAdDescriptionDiv {
  margin-top: 10px;
}
.publishAdDescription {
  font-size: 14px;
  line-height: 1.42857;
  text-align: left;
}

//tablet
@media only screen and (max-width: "1200px") {
}

//mobile
@media only screen and (max-width: $website-XS-width) {
}
