@import "../../Styles/_settings.scss";

.wrapper {
  max-width: $website-width;
  width: 90%;
  margin: 0 auto;
}

.suggestedThemesDiv {
  width: 1040px;
  margin: auto;
  margin-top: 30px;
}

.suggestedThemes {
  font-family: Arial;
  font-size: 20px;
  text-align: left;
  color: #616872;
}

.caresItemTextDanger {
  margin-bottom: 0px;
}
.caresItemText {
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 0px;
}

.caresItemTextDanger {
  color: #e74c3c;
}
.caresTitle {
  color: #565a5c;
  font-size: 30px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}

.caresList {
  margin-top: 0;
  margin-bottom: 10px;
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}
