@import "../../Styles/_settings.scss";


.suggestedThemesDiv {
  width: 1040px;
  margin: auto;
  margin-top: 30px;
}

.suggestedThemes {
  font-family: Arial;
  font-size: 20px;
  text-align: left;
  color: #616872;
}

.caresItemTextDanger {
  margin-bottom: 0px;
}
.caresItemText {
  font-size: 14px;
  line-height: 1.42857;
  margin-bottom: 0px;
}

.caresItemTextDanger {
  color: #e74c3c;
}
.caresTitle {
  color: #565a5c;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.1;
  margin-top: 20px;
  margin-bottom: 10px;
}

.caresList {
  margin-top: 0;
  margin-bottom: 10px;
}
