.guideBoxDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 14px;
  height: 60px;
  width: auto;
  flex-direction: column;
  border: solid 1px #ececec;
  background-color: #2e95ec;
}

.guideBoxTitle {
  font-family: "Arial";
  font-size: 18px;
  line-height: 1.33;
  //  font-weight: 1000;
  color: white;
  margin: auto;
}