@import "../../Styles/_settings.scss";

p {
  margin: 0 0 10px;
}
.wrapper {
  width: 1170px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.sideMenuAndPageContentFlex {
  display: flex;
  flex-direction: row;
}
.sideMenuDiv {
  width: 25%;
  padding: 0 15px;
}

.pageContentDiv {
  width: 75%;
  margin-top: 30px;
  padding: 0 15px;
}

.infoPlusImageDiv {
  display: flex;
  flex-direction: row;
  margin: 40px 0px;
}
.infoDiv {
  width: 33.33333%;
}

.statsList {
  margin: 15px 0;
  padding-left: 0;
  list-style: none;
}

.statsNumbers {
  margin-top: 0 !important;
  margin-bottom: 10px;
  color: #2593ef;
  font-size: 50px;
  font-weight: 100;
  text-align: center;
}

.statsText {
  font-size: 14px;
  text-align: center;
}

.imageDiv {
  width: 66.66667%;
}

.image {
  width: 100%;
  vertical-align: middle;
}

.aboutUsTextDiv {
  margin-bottom: 30px;
}

.hrcss {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid #eee;
}

.contactUsDiv {
  margin-bottom: 30px;
}

.moreInfoDiv {
  width: 100%;
}

.moreInfoDiv h4 {
  margin-bottom: 20px;
}
.moreInfo {
  font-size: 18px;
}

.contactUsAll {
  display: flex;
  flex-direction: row;
}

.contactUsLeft {
  width: 50%;
}

.contactUsRight {
  width: 50%;
}

.contactUsText {
  margin-bottom: 3px;
}

@media only screen and (max-width: 1200px) {
  .wrapper {
    width: 970px;
  }
  .statsNumbers {
    font-size: 35px;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    width: 750px;
  }

  .infoDiv {
    width: 100%;
  }
  .statsList {
    margin-top: 0;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .wrapper {
    width: auto;
  }

  .sideMenuAndPageContentFlex {
    flex-direction: column;
  }
  .infoDiv {
    width: 100%;
  }
  .infoPlusImageDiv {
    flex-direction: column;
  }

  .sideMenuDiv {
    width: 100%;
  }

  .pageContentDiv {
    width: 100%;
  }
}
