.divFAQBuyers {
  border-radius: 14px;
  border: 1px solid lightgray;
  padding: 15px;
  background-color: white;
}
.titleTextContent {
  font-family: Arial;
  font-weight: 600;
  text-align: left;
  font-size: 15px;
  color: #000;
  margin-top: 0px;
}

.clickableText {
  font-family: Arial;
  text-align: left;
  font-size: 15px;
  line-height: 40px;
  color: #3697e9;
  text-decoration: none;
}

.clickableText:visited {
  color: #3697e9;
}
