@import "../../Styles/_settings.scss";

.wrapper {
  max-width: $website-width;
  width: 90%;
  margin: 0 auto;
}

.faqPostAdsTitleDiv {
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.faqPostAdsTitle {
  font-family: Arial;
  font-size: 18px;
  text-align: left;
  color: #2e95ec;
}

.faqManageMyAdsTitleDiv {
  width: 100%;
  margin: auto;
  margin-top: 15px;
}

.faqManageMyAdsTitle {
  font-family: Arial;
  font-size: 18px;
  text-align: left;
  color: #2e95ec;
}
